[submodule "server/third_party/aasdk"]
	path = server/third_party/aasdk
	url = https://github.com/opencardev/aasdk
[submodule "server/third_party/openauto"]
	path = server/third_party/openauto
	url = https://github.com/opencardev/openauto
[submodule "server/third_party/AAProto"]
	path = server/third_party/AAProto
	url = https://github.com/opencardev/AAProto
[submodule "server/third_party/AACS"]
	path = server/third_party/AACS
	url = https://github.com/tomasz-grobelny/AACS
[submodule "server/third_party/aa-proxy-rs"]
	path = server/third_party/aa-proxy-rs
	url = https://github.com/aa-proxy/aa-proxy-rs
